#footer {
    background: #C4C4C4;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 104px 24px 24px;

        .info-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                display: flex;
                align-items: center;
                width: 72px;
                height: 60px;
                @include mobile {
                    margin-bottom: 24px;
                }
            }

            .info {
                .content {
                    display: flex;
                    align-items: center;
                    padding: 2px 0;
                    i {
                        display: block;
                        width: 18px;
                        height: 18px;
                    }
    
                    span {
                        display: block;
                        margin-left: 6px;
                        color: $primary-color;
                        @include font_small;
                    }
                }
                @include mobile {
                    margin-bottom: 24px;
                }
            }

            @include mobile {
                flex-direction: column;
                align-items: start;
            }
        }

        .copyright-content {
            width: 100%;
            display: flex;
            .content {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 12px 0;
                .instagram-icon {
                    display: block;
                    width: 18px;
                    height: 18px;
                    transition: 0.3s ease;
                    &:hover {
                        opacity: 0.7;
                    }
                }

                .copyright-icon {
                    margin-right: 6px;
                }

                hr {
                    border: none;
                    height: 12px;
                    width: 1px;
                    margin: 0 18px;
                    background: $primary-color;
                }

                span {
                    display: block;
                    color: $primary-color;
                    @include font_regular;
                }

                @include mobile {
                    justify-content: space-between;
                }
            }
        }
        @include tablet {
            padding: 104px 16px 24px;
        }

        @include mobile {
            padding: 72px 16px 24px;
        }
    }
}
