#footer {
    background: $primary-color;
    @include mobile {
        font-size: 8px;
        line-height: 14px;
    }
    .container {
        display: flex;
        justify-content: center;
        padding: 24px 0;

        .logo {
            display: flex;
            align-items: center;
            width: 72px;
            margin: 0 24px;
            padding: 8px 0;
            @include mobile {
                margin: 0 8px 0 24px;
            }

            img {
                display: block;
                width: 100%;

            }
        }
        .info {
            margin: 0 24px;
            @include mobile {
                margin: 0 24px 0 8px;
            }
            .info-box {
                margin-bottom: 18px;

                &:last-child {
                    margin-bottom: 0;
                }

                p {
                    display: flex;
                    align-items: center;
                    margin: 6px 0;
                    i {
                        img {
                            margin: 0;
                            width: 20px;
                            display: inline-block;
                        }
                    }

                    span {
                        display: block;
                        margin-left: 6px;
                        color: $secondary-color;
                        font-family: "IBM Plex Mono", monospace;
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}