.image-text {
    width: 100%;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-content {
            max-width: 912px;
            height: auto;
            overflow: hidden;
            transition: 0.3s;

            @include tablet {
                max-width: 552px;
                height: auto;
            }
        }

        .copy-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 672px;
            margin-top: 104px;
            transition: 0.3s;
            .copy-heading,
            .copy-body {
                color: $primary-color;
                text-align: center;
            }

            .break-logo {
                width: 120px;
                height: 100px;
                margin-top: 48px;

                @include tablet {
                    width: 96px;
                    height: 80px;
                }

                @include mobile {
                    width: 72px;
                    height: 60px;
                    margin-top: 36px;
                }
            }

            @include tablet {
                max-width: 552px;
            }

            @include mobile {
                margin-top: 72px;
            }
        }
    }
}