.main-banner {
    width: 100%;
    margin-top: 72px;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .image-frame {
            max-width: 1080px;
            height: auto;
            margin: 0 auto;
            img {
                display: block;
                width: 100%;
            }
        }

        .copy-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 48px 0;
            .copy-heading {
                max-width: 524px;
                margin-bottom: 24px;
                color: $primary-color;
            }

            p {
                max-width: 672px;
                color: $primary-color;
                @include font_regular;
            }
        }
    }
}