 .masonry {
    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1060px;
        .masonry-content {
            max-width: 50%;
            margin: 10vh 0;
            padding: 0 24px;
            img {
                width: 100%;
                display: block;
            }
            .desc {
                display: flex;
                padding: 12px 0;
                justify-content: space-between;
                align-items: flex-end;

                .place {
                    font-size: 14px;
                    line-height: 18px;
                    color: $primary-color;
                }

                .learn-more {
                    font-size: 12px;
                    line-height: 16px;
                    text-decoration: underline;
                    color: $primary-color;
                }
            }
            &:nth-child(2n) {
                margin-top: 20vh;
            }
        }
    }
}