@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$tablet : 1024px;
$mobile : 480px;

@mixin desktop {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile}) and (max-width: #{$tablet - 1px }) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile - 1px }) {
        @content;
    }
}

$primary-color: #191919;
$secondary-color: #bdc0bf;
$third-color : #9a8f77;
$white-color: #ffffff;

@mixin font_heading {
    font-size: 24px;
    line-height: 36px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    @include tablet {
        font-size: 18px;
        line-height: 24px;
    }
    @include mobile {
        font-size: 16px;
        line-height: 20px;
    }
}

@mixin font_sub_heading {
    font-size: 18px;
    line-height: 24px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    @include tablet {
        font-size: 14px;
        line-height: 18px;
    }
    @include mobile {
        font-size: 12px;
        line-height: 18px;
    }
}

@mixin font_regular {
    font-size: 12px;
    line-height: 18px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    @include tablet {
        font-size: 12px;
        line-height: 18px;
    }
    @include mobile {
        font-size: 10px;
        line-height: 14px;
    }
}

@mixin font_small {
    font-size: 10px;
    line-height: 14px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    @include tablet {
        font-size: 10px;
        line-height: 11px;
    }
    @include mobile {
        font-size: 8px;
        line-height: 12px;
    }
}