@import "components/scss/config/asset.scss";
@import "components/scss/config/reset.scss";

@import "components/scss/header.scss";
@import "components/scss/footer.scss";

@import "components/scss/main-banner.scss";
@import "components/scss/image-text.scss";
@import "components/scss/masonry.scss";

.section {
    margin: 128px 0;
}
.container  {
    max-width: 1392px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.copy-heading {
    @include font_heading;
    margin-bottom: 24px;
}