@import "components/scss/config/asset.scss";
@import "components/scss/config/reset.scss";

@import "components/scss/header.scss";
@import "components/scss/footer.scss";

@import "components/scss/main-banner.scss";
@import "components/scss/image-text.scss";
@import "components/scss/masonry.scss";
@import "components/scss/slide.scss";

* {
    &::selection {
        background: #c4c4c4;
    }

    &::-moz-selection {
        background: #c4c4c4;
    }
}

body {
    background: #E4E4E4;
}

.section {
    display: flex;
    align-items: center;
    padding: 128px 0;

    @include tablet {
        padding: 104px 0;
    }

    @include mobile {
        padding: 72px 0;
    }
}

.container  {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    @include mobile {
        padding: 0 12px;
    }
}

.copy-heading {
    @include font_heading;
    margin-bottom: 24px;
    color: $primary-color;
    
    @include mobile {
        margin-bottom: 18px;
    }
}

.copy-body {
    @include font_regular;
    color: $primary-color;
}

.copy-sub-heading {
    @include font_sub_heading;
    color: $primary-color;
}

.copy-small {
    @include font_small;
    color: $primary-color;
}

img {
    display: block;
    width: 100%;
}